$btnColor: #ff6b01;
$underlineColor: #ff6b08;
$txtColor: #000000;
$whiteColor: #ffffff;
$modalTitleTextColor: #8c8c8c;
$bgFooterColor: #f7f7f7;
$footerTextColor: #545454;
$backgroundBody: #e5e5e5;
$warningTextColor: #ff001b;
