<section class="team-backdrop" id="team-modal">
    <div class="team-modal">
      <div class="team-modal__container animate">
        <button type="button" class="team-modal__btn">
          <svg class="modal__icon--close" width="30" height="30">
            <use href="../src/images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <h2 class="team-modal__title">Наша команда</h2>
        <ul class="team-modal__list">
          <li class="team-modal__list-item">
            <picture>
              <img src="https://media.proglib.io/wp-uploads/2018/06/og_og_148879361322373683.jpg"
                alt="ONCE UPON A TIME... IN HOLLYWOOD"
                alt="Игорь Демьяненко"
                width="450"
                height="460"
                loading="lazy"/>
            </picture>
            <div class="team-wrap">
              <h3 class="team-wrap__title">Игорь Демьяненко</h3>
              <p class="team-wrap__text">Full Stack Developer</p>
              <p class="team-wrap__text2">GoIT Bootcamp</p>
              <a class="socials__link" href="" aria-label="">
                <svg class="footer__heart-svg" width="12" height="12">
                  <use href="../src/images/sprite.svg#icon-favorite"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team-modal__list-item">
            <picture>
              <img
                src="https://content.onliner.by/news/1100x5616/843b91cd677d2747a7ce1b8a4d343aa9.jpeg"
                style="height: 123px"
                alt="igor demyanenko"
                width="450"
                loading="lazy"
              />
            </picture>
            <div class="team-wrap">
              <h3 class="team-wrap__title">Игорь Демьяненко</h3>
              <p class="team-wrap__text">Full Stack Developer</p>
              <p class="team-wrap__text2">GoIT Bootcamp</p>
              <a class="socials__link" href="" aria-label="">
                <svg class="footer__heart-svg" width="12" height="12">
                  <use href="../src/images/sprite.svg#icon-favorite"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team-modal__list-item">
            <picture>
              <img
                src="https://media.proglib.io/wp-uploads/2018/06/og_og_148879361322373683.jpg"
                alt="ONCE UPON A TIME... IN HOLLYWOOD"
                alt="Игорь Демьяненко"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>
            <div class="team-wrap">
              <h3 class="team-wrap__title">Игорь Демьяненко</h3>
              <p class="team-wrap__text">Full Stack Developer</p>
              <p class="team-wrap__text2">GoIT Bootcamp</p>
              <a class="socials__link" href="" aria-label="">
                <svg class="footer__heart-svg" width="12" height="12">
                  <use href="../src/images/sprite.svg#icon-favorite"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team-modal__list-item">
            <picture>
              <img
                src="https://media.proglib.io/wp-uploads/2018/06/og_og_148879361322373683.jpg"
                alt="ONCE UPON A TIME... IN HOLLYWOOD"
                alt="Игорь Демьяненко"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>
            <div class="team-wrap">
              <h3 class="team-wrap__title">Игорь Демьяненко</h3>
              <p class="team-wrap__text">Full Stack Developer</p>
              <p class="team-wrap__text2">GoIT Bootcamp</p>
              <a class="socials__link" href="" aria-label="">
                <svg class="footer__heart-svg" width="12" height="12">
                  <use href="../src/images/sprite.svg#icon-favorite"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team-modal__list-item">
            <picture>
              <img
                src="https://media.proglib.io/wp-uploads/2018/06/og_og_148879361322373683.jpg"
                alt="ONCE UPON A TIME... IN HOLLYWOOD"
                alt="Игорь Демьяненко"
                width="450"
                height="460"
                loading="lazy"
              />
            </picture>
            <div class="team-wrap">
              <h3 class="team-wrap__title">Игорь Демьяненко</h3>
              <p class="team-wrap__text">Full Stack Developer</p>
              <p class="team-wrap__text2">GoIT Bootcamp</p>
              <a class="socials__link" href="" aria-label="">
                <svg class="footer__heart-svg" width="12" height="12">
                  <use href="../src/images/sprite.svg#icon-favorite"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>
  






