     <!-- OUR TEAM MODAL-->
   <div class="team-backdrop is-hidden" id="team-modal">
      <div class="team-modal animat">
        <button type="button" class="team-modal-close-btn">
          <svg class="icon--close" width="30" height="30">
            <use href="../src/images/sprite.svg#icon-close"></use>
          </svg>
        </button>
        <h2 class="team-modal__title">Our team</h2>
        <ul class="team-modal__list">
          <li class="team-modal__list-item">
              <img src="https://avatars.githubusercontent.com/u/12040067?v=4"
                alt="Daniel Bakel"
                width="250"
                height="250"
                loading="lazy"/>
            <div class="team-wrap">
              <h3 class="team-wrap__title">Daniel Bakel</h3>
              <h4 class="team-wrap__text">Full Stack Developer</h4>
              <p class="team-wrap__text2">Student GoIT</p>
              <a class="socials__link" href="https://github.com/BakelD"  target="_blank" rel="noopener norefferel" aria-label="github">
                <svg class="footer__sl-svg" width="18" height="18">
                  <use href="../src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team-modal__list-item">
              <img
                src="https://scontent.flwo3-1.fna.fbcdn.net/v/t39.30808-6/274819937_3130161567256706_4465333475151131274_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=lMwTO_9prIUAX-jPEQA&_nc_ht=scontent.flwo3-1.fna&oh=00_AT9fnOygstMOQQTsNhEfoy_lvpvq4Fybv9bCUdI-2Py7iA&oe=62AB5F44"
                alt="Sophia Zvereva"
                width="250"
                height="250"
                loading="lazy"
              />
            <div class="team-wrap">
              <h3 class="team-wrap__title">Sophia Zvereva</h3>
              <h4 class="team-wrap__text">Full Stack Developer</h4>
              <p class="team-wrap__text2">Student GoIT</p>
              <a class="socials__link" href="https://github.com/zvereva-s" target="_blank" rel="noopener norefferel" aria-label="github">
                <svg class="footer__sl-svg" width="18" height="18">
                  <use href="../src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team-modal__list-item">
              <img
                src="https://avatars.githubusercontent.com/u/97532271?v=4"
                alt="Dmitriy Narishkin"
                width="250"
                height="250"
                loading="lazy"
              />
            <div class="team-wrap">
              <h3 class="team-wrap__title">Dmitriy Narishkin</h3>
              <h4 class="team-wrap__text">Full Stack Developer</h4>
              <p class="team-wrap__text2">Student GoIT</p>
              <a class="socials__link" href="https://github.com/snow625/" target="_blank" rel="noopener norefferel" aria-label="github">
                <svg class="footer__sl-svg" width="18" height="18">
                  <use href="../src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team-modal__list-item">
              <img
                src="https://avatars.githubusercontent.com/u/97526411?v=4"
                alt="Denis Lazarenko"
                width="250"
                height="250"
                loading="lazy"
              />
            <div class="team-wrap">
              <h3 class="team-wrap__title">Denis Lazarenko</h3>
              <h4 class="team-wrap__text">Full Stack Developer</h4>
              <p class="team-wrap__text2">Student GoIT</p>
              <a class="socials__link" href="https://github.com/DennLaz/"  target="_blank" rel="noopener norefferel" aria-label="github">
                <svg class="footer__sl-svg" width="18" height="18">
                  <use href="../src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>
          <li class="team-modal__list-item">
              <img
                src="https://avatars.githubusercontent.com/u/50501517?v=4"
                alt="Mansur Narkulyyev"
                width="250"
                height="250"
                loading="lazy"
              />
            <div class="team-wrap">
              <h3 class="team-wrap__title">Mansur Narkulyyev</h3>
              <h4 class="team-wrap__text">Full Stack Developer</h4>
              <p class="team-wrap__text2">Student GoIT</p>
              <a class="socials__link" href="https://github.com/mansurnarkulyyev"  target="_blank" rel="noopener norefferel" aria-label="github">
                <svg class="footer__sl-svg" width="18" height="18">
                  <use href="../src/images/sprite.svg#icon-github"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  






