<section class="gallery">
  <div class="container">
    <a class="arrowUp" href="#">&#129145</a>
    <h1 class="visually-hidden">Gallery of movies</h1>
    <ul class="gallery__list"></ul>
    <div class="pagination-wrapper">
      <button
        class="btn-left btn-arrow"
        type="button"
        aria-label="gallery navigation button left"
      >
        <svg class="btn-icon">
          <use href="./images/sprite.svg#icon-left"></use>
        </svg>
      </button>
      <div class="pagination"></div>
      <button
        class="btn-right btn-arrow"
        type="button"
        aria-label="gallery navigation button right"
      >
        <svg class="btn-icon">
          <use href="./images/sprite.svg#icon-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
