<div class="preview">
  <div class="container preview__container">
    <h2 class="preview__text">
      You have not added anything to this list yet. Click the search button to
      add.
    </h2>
    <ul class="preview__item">
      <li class="preview__list list">
        <a
          class="preview__link"
          href="./index.html"
          aria-label="Home page link"
        >
          <svg class="preview__icon" width="75" height="75">
            <use href="./images/sprite.svg#icon-search"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
