<!-- Модальное окно -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__button" data-modal-close>
      <svg class="modal__icon--close" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__container"></div>
  </div>

  <div class="modal__trailer">
    <button type="button" class="modal__button modal__back" data-trailer-close>
      <svg class="modal__icon--close" width="30" height="30">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <iframe
      class="trailer"
      width="560"
      height="315"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </div>
</div>
