.gallery {
  background-color: $whiteColor;
  padding-top: 20px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  //   justify-content: center;

  @include mq(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include mq(desktop) {
    gap: 32px 10px;
    margin-left: 6px;
  }
}

.item__info--year {
  position: relative;
}

.item__info--year::before {
  position: absolute;
  top: 2px;
  left: -2px;
  content: '';
  width: 1px;
  height: 10px;
  background-color: $underlineColor;
  display: inline-block;
}

.gallery__item:not(:last-child) {
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.gallery__item {
  width: 280px;

  @include mq(tablet) {
    width: 336px;
  }

  @include mq(desktop) {
    width: 309px;
  }

  cursor: pointer;
}

.item__description .item__title {
  margin-bottom: 3px;
  text-transform: uppercase;
}

.gallery__icon {
  background-image: url(../images/altimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  height: 394px;

  @include mq(tablet) {
    height: 455px;
  }

  @include mq(desktop) {
    height: 449px;

    filter: grayscale(0.4);
    transition: 1s;
  }
}

.item__description {
  line-height: 1.16;
}

.item__info {
  color: $underlineColor;
  display: inline;
}

.item__info--rating {
  color: $whiteColor;
  background-color: $btnColor;
  display: inline;
  padding: 1px 10px;
  border-radius: 5px;
  margin-left: 8px;
}

.pagination-wrapper {
  // outline: 2px solid tomato;
  margin: 40px auto;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 20px;

  @include mq(tablet) {
    gap: 10px;
    margin: 60px auto;
  }
}

.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
  line-height: 1.33;
}

.btn-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  outline: transparent;
  background-color: $bgFooterColor;
  border-radius: 5px;

  &:focus,
  &:hover {
    color: $underlineColor;
    outline: 2px solid $underlineColor;
  }
}

.btn-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: transparent;
}

.current-page {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $whiteColor;
  width: 40px;
  height: 40px;
  background-color: $underlineColor;
  border-radius: 5px;
}

.icon-points {
  display: inline-block;
  width: 11px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;

  @include mq(mobile-only) {
    display: none;
  }
}

.pagination a {
  padding: 10px 1px;
}

.pagination .start-end-el {
  @include mq(mobile-only) {
    display: none;
  }
}

.filter__buttons {
  @include flex();

  margin-bottom: 20px;
}

.btn__filter {
  &:not(:last-child) {
    margin-right: 10px;

    @include mq(mobile-only) {
      margin-right: 3px;
    }
  }
}

.btn {
  @include fonts();

  border-radius: 5px;

  @include mq(tablet) {
    font-size: 15px;
  }

  padding: 7px;
  background-color: $whiteColor;

  border: none;

  &:focus,
  &:hover {
    background-color: black;
    color: $bgFooterColor;
    text-decoration: none;
  }

  &:hover {
    background-color: $btnColor;
    color: black;
  }
}

.filter__current {
  background-color: black;
  color: $bgFooterColor;
}

.gallery__item:hover .gallery__icon,
.gallery__item:focus .gallery__icon {
  box-shadow: 0 20px 30px 0 rgba(47, 79, 79, 0.6);

  transition: 0.06s;
  transform: scale(1.02);
  filter: grayscale(0);
}

.arrowUp {
  @include mq(mobile-only) {
    display: none;
  }


  @include mq(tablet-only) {
    display: flex;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    right: 1%;
    bottom: 16%;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    position: fixed;
    z-index: 10;

    background-size: 300%;
    background: $btnColor;
    border: 1px solid $btnColor;
    color: $btnColor;
    cursor: pointer;
  }

  @include mq(desktop) {
    display: flex;
    border-radius: 15px;
    font-size: 30px;
    bottom: 14%;
    right: 4%;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    position: fixed;
    z-index: 10;
    background-size: 300%;
    background: $btnColor;
    border: 1px solid $btnColor;
    color: $btnColor;
    cursor: pointer;
  }
}

.btn__icon-top {
  fill: $whiteColor;
}

.arrowUp:hover,
.arrowUp:focus {
  transition: 0.5s;
  transform: scale(1.2);
}



html {
  scroll-behavior: smooth;
}