.gallery {
  background-color: $whiteColor;
  padding: 20px 5px 40px 5px;

  @include mq(tablet) {
    padding: 60px 17px 60px 17px;
  }

  @include mq(desktop) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.gallery__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  //   justify-content: center;

  @include mq(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include mq(desktop) {
    gap: 32px 10px;
  }
}
.item__info--genres {
  position: relative;
}

.item__info--genres::before {
  position: absolute;
  top: 2px;
  left: -2px;
  content: '';
  width: 1px;
  height: 10px;
  background-color: $underlineColor;
  display: inline-block;
}

.gallery__item:not(:last-child) {
  margin-bottom: 20px;

  @include mq(tablet) {
    margin-bottom: 0;
  }
}

.gallery__item {
  width: 280px;

  @include mq(tablet) {
    width: 336px;
  }

  @include mq(desktop) {
    width: 309px;
  }
}

.gallery__icon {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 5px;
}

.item__description {
  line-height: 1.16;
}

.item__info {
  color: $underlineColor;
  display: inline;
}

.item__info--rating {
  color: $whiteColor;
  background-color: $btnColor;
  display: inline;
  padding: 1px 10px;
  border-radius: 5px;
  margin-left: 8px;
}

.pagination-wrapper {
  outline: 2px solid tomato;
  margin: 60px auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 10px;
  // height: 10px;
}
.btn-arrow {
  width: 40px;
  height: 40px;
  border: none;
  outline: transparent;
  background-color: $bgFooterColor;
  border-radius: 5px;
  &:focus,
  &:hover {
    color: $underlineColor;
    outline: 2px solid $underlineColor;
  }
}
.btn-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: transparent;
}
.current-page {
  color: red;
}
