.preview__icon {
  stroke: #ff6b08;
  fill: transparent;
}

.preview__container {
  min-height: 100vh;
  background: radial-gradient(#000 15%, transparent 16%) 0 0,
    radial-gradient(#000 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
  text-align: center;
}

.preview__text {
  font-family: cursive;
  padding: 20px 0;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -4px;
  display: block;
  font-size: 40px;
  line-height: 1;
  color: #818181;
  text-shadow: 0 13.36px 13px #ff6b08, 0 -2px 1px #ff6b08;
}

.preview__item {
  max-width: 75px;
  max-height: 75px;
  margin: 0 auto;
}

.preview__icon {
  display: block;
  position: relative;
  z-index: 10;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;

  &:hover {
    stroke: $btnColor;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
