.preview__icon {
  stroke: #ff6b08;
  fill: transparent;
}

.preview__container {
  min-height: 100vh;
  background-image: url(../images/preview/pngegg.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-color: transparent;
  background-size: contain;
  text-align: center;
  @include mq(tablet) {
    background-size: 70%;
  }

  @include mq(desktop) {
    background-size: 60%;
  }
}

.preview__text {
  font-family: cursive;
  padding: 20px 0;
  color: #202020;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 1.4;
  color: #ff6b08;
  text-shadow: 0 8px 13px #ff6b08, 0 -2px 1px #ff6b08;

  @include mq(tablet) {
    font-size: 37px;
    padding: 20px 15px;
  }

  @include mq(desktop) {
    font-size: 30px;
    padding: 35px 15px;
  }
}

.preview__item {
  margin-top: 5px;
  width: 75px;
  height: 75px;
  margin: 0 auto;
}

.preview__icon {
  border-radius: 0 10px;
  display: block;
  position: relative;
  z-index: 10;
  box-shadow: 0 8px 13px #ff6b08, 0 -2px 1px #ff6b08;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;

  &:hover {
    stroke: $btnColor;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
