//Модальное окно//

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  padding: 93px 15px;
  background-color: rgb(0, 0, 0, 0.25);

  opacity: 1;
  overflow-y: scroll;

}

.backdrop.is-hidden {
  display: none;
}

.modal {
  position: relative;
  z-index: 3;

  background-color: white;

  margin-left: auto;
  margin-right: auto;


  @include mq(mobile-only) {
    width: 280px;
    min-height: 940px;

    padding-top: 48px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  @include mq(tablet-only) {
    width: 704px;
    min-height: 552px;

    padding: 40px 36px;
  }

  @include mq(desktop) {
    width: 814px;
    min-height: 558px;

    padding: 40px 16px;
  }
}

.modal__container {
  @include mq(tablet) {
    display: flex;
    flex-basis: content;
  }
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;

  display: block;
  margin-left: auto;
  margin-bottom: 10px;

  width: 30px;
  height: 30px;

  background-color: white;
  border: transparent;

  &:hover,
  &:focus {
    background-color: $btnColor;
    border-radius: 5px;
    transition: 0.5s;
  }
}

.modal__icon--close {
  position: absolute;
  top: 1px;
  right: -1px;

  transition: 0.5s;

  stroke: black;

  .modal__button:hover &,
  .modal__button:focus & {
    stroke: $whiteColor;
  }
}

.modal__poster {

  width: 100%;
  border-radius: 5px;
  margin-bottom: 20px;

  @include mq(tablet-only) {
    margin-right: 68px;
    width: 264px;
    height: 374px;
  }

  @include mq(desktop) {

    margin-bottom: 0;
    margin-right: 16px;
    width: 375px;
    height: 478px;

  }
}

.modal__title {
  @include fonts($fs: normal, $fw: 500, $fsz: 20px, $lh: 0.86);
  text-transform: uppercase;

  margin-bottom: 20px;

  @include mq(tablet-only) {
    @include fonts($fs: normal, $fw: 500, $fsz: 20px, $lh: 1.15);
  }

  @include mq(desktop) {
    @include fonts($fs: normal, $fw: 500, $fsz: 30px, $lh: 1.166);
  }
}

.modal__table {
  @include fonts($fs: normal, $fw: 500, $fsz: 12px, $lh: 1.33);

  margin-bottom: 20px;
  text-align: left;

  @include mq(mobile-only) {
    width: auto;
  }
}


.modal__subtitle--table {
  color: $modalTitleTextColor;
  padding-top: 4px;
  padding-bottom: 4px;

  @include mq(mobile-only) {
    padding-right: 20px;
  }

  @include mq(tablet-only) {
    padding-right: 50px;
  }

  @include mq(desktop) {
    padding-right: 83px;
  }

}

.table--splash {
  color: $modalTitleTextColor;
}

.modal__rating {
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 4px;
  padding-right: 4px;

  border-radius: 5px;
  background-color: $bgFooterColor;
}

.modal__table--vote {
  color: $whiteColor;
  background-color: $btnColor;
}

.modal__subtitle {
  @include fonts($fs: normal, $fw: 500, $fsz: 12px, $lh: 0.75);

  text-transform: uppercase;
  margin-bottom: 8px;

  @include mq(tablet-only) {
    @include fonts($fs: normal, $fw: 500, $fsz: 12px, $lh: 1.33);
  }
}

.modal__desc {
  padding-right: 10px;
  max-height: 180px;
  overflow-y: scroll;

  @include fonts();

  @include mq(tablet-only) {
    @include fonts($fs: normal, $fw: 500, $fsz: 12px, $lh: 1.66);
  }
}

.modal__btns {
  @include flex();
  margin-top: 20px;

  @include mq(mobile-only) {
    justify-content: space-between;
  }

  @include mq(tablet) {
    justify-content: start;
  }

  @include mq(desktop) {
    padding-left: 8px;
  }
}

.btn--add {
  width: 110px;
  min-height: 44px;

  background-color: $whiteColor;
  border: 1px solid $txtColor;
  border-radius: 5px;
  transition: 0.5s;


  text-transform: uppercase;
  @include fonts($fs: normal, $fw: 500, $fsz: 12px, $lh: 1.33);

  @include mq(tablet-only) {
    width: 125px;
    min-height: 44px;
  }

  @include mq(desktop) {
    width: 136px;
  }

  &:hover,
  &:focus {
    box-shadow: 0px 8px 43px rgba(0, 0, 0.6, 0.1);
    transform: translate(0, -3px);
  }
}

.btn--add.active {
  background-color: $btnColor;
  color: $whiteColor;


  padding: 6px 27px;

  border: transparent;


  @include mq(tablet-only) {
    padding: 14px 10px;
    margin-right: 15px;
  }


  @include mq(desktop) {
    margin-right: 15px;
  }

  &:hover,
  &:focus {

    transform: translate(0, -3px);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}