.modal__trailer {
  // position: absolute;
  position: relative;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-48.5%, -77%);

  z-index: 4;
  overflow: auto;
  background-color: transparent;

  @include mq(mobile-only) {
    top: 75%;
    width: 280px;
    height: 940px;
  }

  @include mq(tablet-only) {
    width: 704px;
    height: 552px;

    transform: translate(-50%, -35%);
  }

  @include mq(desktop) {
    width: 814px;
    min-height: 558px;

    transform: translate(-50%, -50%);
  }
}

.trailer {
  // position: relative;
  position: absolute;
  width: 100%;
  margin-top: 40px;

  @include mq(tablet) {
    height: 512px;
  }

  @include mq(desktop) {}
}

.modal__trailer button {
  background-color: $btnColor;

  @include mq(desktop) {
    background-color: #fff;
  }
}